:root {
  --max-width: 500px;
  --border-radius: 8px;
  --font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  --foreground-rgb: 255, 255, 255;
  --background-rgb: 40, 40, 40;
  --input-background-rgb: 60, 60, 60;
  --primary-color: #3498db;
  --button-hover-color: #2980b9;
  --tile-border: conic-gradient(
    #ffffff80,
    #ffffff40,
    #ffffff30,
    #ffffff20,
    #ffffff10,
    #ffffff10,
    #ffffff80
  );
  --callout-rgb: 30, 30, 30;
  --callout-border-rgb: 60, 60, 60;
  --card-rgb: 40, 40, 40;
  --card-border-rgb: 80, 80, 80;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: var(--font-family);
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
    to bottom,
    rgb(var(--background-rgb)),
    rgb(var(--background-rgb))
  );
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

form {
  background: rgba(var(--callout-rgb), 0.8);
  border-radius: var(--border-radius);
  padding: 2rem;
  width: 80%;
  max-width: var(--max-width);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
  display: block;
  margin-bottom: 0.5rem;
  color: #fff;
}

input {
  width: 100%;
  padding: 0.75rem; /* Adjusted padding */
  margin-bottom: 1.5rem; /* Adjusted margin */
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: var(--border-radius);
  background-color: rgb(var(--input-background-rgb));
  color: #fff;
  font-size: 16px;
}

button {
  background: var(--primary-color);
  color: rgb(var(--foreground-rgb));
  padding: 0.75rem 1.5rem; /* Adjusted padding */
  border: none;
  border-radius: var(--border-radius);
  cursor: pointer;
  transition: background 0.3s;
  font-size: 18px;
  margin-right: 0.5rem; /* Adjusted margin on the right side */
}

button:hover {
  background: var(--button-hover-color);
}
